<h1>Welcome Home page</h1>
<p>General home page information/updates/etc go here. Since this is pre-signup this could just be the home page.</p>
<p> Maybe put some sort of feed here to keep them up to date on events and what not when they signin </p>
